body {
	margin: 60px auto 0;
	padding: 0 10px;
	width: 485px;
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 20pt;
}

h1 {
	font-size: 36pt;
	font-weight: 300;
	margin-bottom: 50px;
}

h1 > #title { color: #000; }
h1 > #bar   { color: #999; }
h1 > #team  { color: #d55; }

#console {
	font-size: 20pt;
	margin: 0 auto 50px;
	padding: 8px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: none;
	border-right: none;
	background: #eee;
	font-family: "Courier New";
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	line-height: 34pt;
}

#cbuttons {
	display: table;
	width: 495px;
	/* width: 100%; */
	border-spacing: 10px;
}

#cbuttons > section, #cbuttons > form {
	display: table-row;
}

#cbuttons label {
	display: table-cell;
	text-align: left;
}

#drawing {
	display: none;
}

#canvas {
	width: 100%;
	height: 500px;
	margin-bottom: 20px;
	border: 1px solid #000;
}

a {
	width: 140px;
	font-size: 20pt;
	border: 1px solid #aaa;
	padding: 10px;
	background: #fff;
	text-transform: uppercase;
	border-radius: 6px;
	letter-spacing: 2px;
	cursor: pointer;
}

a#btnc-toggleview {
	display: block;
	width: 400px;
	padding: none;
	margin: 40px auto 0;
}

a:hover {
	background: #000;
	border-color: #000;
	color: #fff;
}

a:active {
	background: #d55;
}

.disabled-button {
	border: 1px solid #aaa;
	color: #aaa;
	background: #eee;
	cursor: default;
}

.disabled-button:hover {
	border: 1px solid #aaa;
	color: #aaa;
	background: #eee;
}

#btn-toggleview {
	position: fixed;
	top: 0;
	left: 0;
}

#cbuttons a {
	display: table-cell;
}

#cbuttons div {
	display: table-cell;
}

#cbuttons div > input {
	font-size: 20pt;
	width: 156px;
	height: 50px;
}
