body {
	margin: 60px auto 0;
	padding: 0 10px;
	width: 485px;
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 20pt;
}

h1 {
	font-size: 36pt;
	font-weight: 300;
	margin-bottom: 50px;
}

h1 > #title { color: #000; }
h1 > #bar   { color: #999; }
h1 > #team  { color: #d55; }

#console {
	font-size: 20pt;
	margin: 0 auto 50px;
	padding: 8px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: none;
	border-right: none;
	background: #eee;
	font-family: "Courier New";
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	line-height: 30pt;
}

#controls {
	display: table;
	width: 485px;
	border-spacing: 10px;
}

#controls > section {
	display: table-row;
}

#controls label {
	display: table-cell;
	text-align: left;
}

#controls a {
	width: 140px;
	display: table-cell;
	font-size: 20pt;
	border: 1px solid #aaa;
	padding: 10px;
	background: #fff;
	text-transform: uppercase;
	border-radius: 6px;
	letter-spacing: 2px;
	cursor: pointer;
}

#controls a:hover {
	background: #000;
	border-color: #000;
	color: #fff;
}

#controls a:active {
	background: #d55;
}

#controls .disabled-button {
	border: 1px solid #aaa;
	color: #aaa;
	background: #eee;
	cursor: default;
}

#controls .disabled-button:hover {
	border: 1px solid #aaa;
	color: #aaa;
	background: #eee;
}
